<div class="modal-header">
  <h4 class="modal-title">{{header}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" perfectScrollbar [ngStyle]="{'max-height.px': height}">
  <ngx-loading [show]="isContactsLoaded" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <form [formGroup]="bcFrom" class="editForm form-border">
    <h4 class="head text-center">لطفا اطلاعات کارت ویزیت را وارد نمایید.</h4>
    <br/>
    <div class='row'>
      <div class='col-12'>
        <div class="form-group">
          <label class="form-control-label" for="key">کلید واژه ارسال</label>
          <input class="form-control input-md" autocomplete="off" formControlName="key"
                 aria-label="key" aria-describedby="key-addon"
                 id="key" type="text">
          <div style="font-size: .75rem;margin-bottom: 1rem;min-height: 1.2rem">
            <mat-error *ngIf="isPanelHasError('key','required')">
              <strong>لطفا کلید واژه پنل را وارد کنید.</strong>
            </mat-error>
            <mat-error *ngIf="isPanelHasError('key','minlength')">
              <strong>حداقل طول کلید واژه پنل 4 کاراکتر است.</strong>
            </mat-error>
            <mat-error *ngIf="isPanelHasError('key','maxlength')">
              <strong>حداکثر طول کلید واژه پنل 100 کاراکتر است.</strong>
            </mat-error>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="owner">مالک کارت</label>
          <ng-select id="owner" [readonly]="isEdit" (change)="loadUserAllData()" [items]="contactsDisplay"
                     formControlName="owner" bindLabel="name" placeholder="مالک را انتخاب کنید">
          </ng-select>
          <div style="font-size: .75rem;margin-bottom: 1rem;min-height: 1.2rem">
            <mat-error *ngIf="isPanelHasError('owner','required')">
              <strong>لطفا مالک کارت را وارد کنید.</strong>
            </mat-error>
          </div>
        </div>
        <div class="form-group" *ngIf="!bcFrom.controls['owner'].valid">
          <label class="form-control-label" for="group1">گروه کارت</label>
          <label id="group1" class="form-control" style="border-color: #d9d9d9"
          >
          </label>
        </div>
        <div class="form-group" *ngIf="bcFrom.controls['owner'].valid">
          <label class="form-control-label" for="group">گروه کارت</label>
          <ng-select id="group" (change)="selectedGroupChanged($event)" [items]="groupsDisplay" formControlName="group"
                     bindLabel="name" placeholder="گروه را انتخاب کنید">
          </ng-select>

          <div style="font-size: .75rem;margin-bottom: 1rem;min-height: 1.2rem">
            <mat-error *ngIf="isPanelHasError('group','required')">
              <strong>لطفا گروه کارت را وارد کنید.</strong>
            </mat-error>
          </div>
        </div>
        <div class="form-group" *ngIf="!bcFrom.controls['owner'].valid">
          <label class="form-control-label" for="template1">پیش نویس کارت</label>
          <label id="template1" class="form-control" style="border-color: #d9d9d9"
                >
          </label>
        </div>
        <div class="form-group" *ngIf="bcFrom.controls['owner'].valid">
          <label class="form-control-label" for="template">پیش نویس کارت</label>
          <ng-select (change)="selectedTemplateChanged($event)" id="template" [items]="templatesDisplay" formControlName="template" bindLabel="name"
                     placeholder="پیش نویس را انتخاب کنید">
          </ng-select>

          <div style="font-size: .75rem;margin-bottom: 1rem;min-height: 1.2rem">
            <mat-error *ngIf="isPanelHasError('template','noTemplate')">
              <strong>لطفا پیش نویس کارت را وارد کنید.</strong>
            </mat-error>
          </div>
        </div>
        <div class="form-group" *ngIf="!bcFrom.controls['owner'].valid">
          <label class="form-control-label" for="sendNumber1">شماره ارسالی</label>
          <label id="sendNumber1" class="form-control" style="border-color: #d9d9d9"
                 placeholder="شماره ارسالی را انتخاب کنید">
          </label>
        </div>
        <div class="form-group" *ngIf="bcFrom.controls['owner'].valid">
          <label class="form-control-label" for="sendNumber">شماره ارسالی</label>
          <ng-select id="sendNumber" (change)="selectedGroupChanged($event)" [items]="numbersDisplay"
                     formControlName="sendNumber" bindLabel="name" placeholder="شماره ارسالی را انتخاب کنید">
          </ng-select>

          <div style="font-size: .75rem;margin-bottom: 1rem;min-height: 1.2rem">
            <mat-error *ngIf="isPanelHasError('sendNumber','noSendNumber')">
              <strong>لطفا شماره ارسالی را وارد کنید.</strong>
            </mat-error>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger btn-raised ml-1" (click)="activeModal.close('Close click')">بستن</button>
  <button type="button" class="btn btn-info btn-raised"
          (click)="submit()"
          [disabled]="bcFrom.invalid">
    ثبت کارت ویزیت
    <span style="margin-left:10px;"><i class="ft-chevron-right"></i></span>
  </button>
</div>
