.signup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border: 4px solid #2B7A78;
    border-radius: 5%;
    padding-bottom: 60px;
}

.signup-icon {
    font-size: 250%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

@media only screen and (max-width: 400px) {
    .signup-box {
        width: 90%;
        height: auto;
    }
}