<form class="rn-form" [formGroup]="ChangePassForm" autocomplete="off">
    <input

        formControlName="OldPass"
        autocomplete="off"
        type="text"
        class="form-control mb-3"
        placeholder="پسورد قبلی"
    />
    <input

    formControlName="NewPass"
    autocomplete="off"
    type="text"
    class="form-control mb-3"
    placeholder="پسورد جدید"
    />
    <input

        formControlName="ConfirmPass"
        autocomplete="off"
        type="text"
        class="form-control mb-3"
        placeholder="تایید پسورد"
    />
    <button (click)="onChangePasswordClick()" class="btn " style="color: #fff;background-color: #009DA0; border-color: #009DA0">ذخیره تغییرات</button>
</form>