
<div class="row">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">لیست پیام های ارسالی</h3>
        <h6 class="card-subtitle text-muted">لیست پیام هایی که شما ارسال کرده اید</h6>
      </div>
      <div class="card-content">
        <div class="card-img">
          <img class="card-img-top img-fluid height-150" src="assets/img/photos/18.jpg" alt="Card image cap">
          <h4 class="card-title"></h4>
        </div>
        <div class="card-body" style="padding: 0">
          <table class="table table-striped text-center" style="margin: 0">
            <thead>
            <tr>
              <th>#</th>
              <th>عنوان</th>
              <th>متن</th>
              <th>وضعیت</th>
              <th>تاریخ ارسال</th>
              <th>شماره ارسالی</th>
              <th>تعداد شماره ها</th>
              <th>تعداد پیام</th>
              <th>هزینه</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itm of sms;let i=index">
              <th scope="row">{{i + 1 + ((pageNumber -1)*pageSize)| persianNumber}}</th>
              <td>{{getCorrectString(itm.header)}}</td>
              <td [matTooltip]="itm.body" matTooltipPosition="above">{{getTrimmedString( getCorrectString(itm.body))}}</td>
              <td *ngIf="itm.status==0"><span class="badge badge-primary ">موفق</span></td>
              <td *ngIf="itm.status == 1"><span class="badge badge-warning">کلمه فیلتر</span></td>
              <td *ngIf="itm.status!=0 && itm.status!=1"><span class="badge badge-danger ">اعتبار ناکافی</span></td>
              <td>{{itm.sentDate | persianDate}}</td>
              <td>{{getCorrectString(itm.sendNumber) | persianNumber}}</td>
              <td>{{(itm.numbers? itm.numbers.length:0) | persianNumber}}</td>
              <td>{{getCorrectString(itm.count) | persianNumber}}</td>
              <td>{{getCorrectString(itm.price) | persianNumber}}</td>
<!--              <td>-->
<!--                <a [routerLink]="itm.id" matTooltip="جزییات" href="javascript:"><i class="ft-maximize info font-medium-1 mr-2"></i></a>-->
<!--                <a (click)="edit(itm)" matTooltip="اصلاح" href="javascript:"><i class="ft-edit-2 info font-medium-1 mr-2"></i></a>-->
<!--                <a (click)="delete(itm)" matTooltip="حذف" href="javascript:"><i class="ft-x-circle danger font-medium-1 mr-2"></i></a>-->
<!--              </td>-->
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="card-footer" style="direction: ltr">
        <div class="row">
          <div >
            <ngb-pagination [collectionSize]="length"
                            [pageSize]="pageSize"
                            [(page)]="pageNumber"
                            [maxSize]="5"
                            (pageChange)="loadData()"
                            [boundaryLinks]="true"></ngb-pagination>
          </div>
          <div style="direction: rtl;font-size: .8rem;flex: 1;text-align: end;margin: 10px;">
            <span> {{getStart() | persianNumber}} </span>
            از
            <span>
          {{ceil(length) | persianNumber}}
              ردیف
        </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
