<div class="row">
  <div class="col-sm-12">
    <div class="content-header text-left">افزایش اعتبار</div>
  </div>
</div>
<!-- Basic Usage -->
<section id="basic-usage" class="row  text-left">
  <div class=" col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">نحوه افزایش اعتبار</h4><a class="heading-elements-toggle"></a>

      </div>
      <div class="card-content">
        <div class="card-body">
          <p>برای افزایش اعتبار در سایت باید از طریق <code>انتقال وجه به صورت بانکی </code> یا <code> انتقال وجه از طریق
            کارت به کارت </code> اقدام نمایید.</p>

          <p>توجه داشته باشید برای اعمال افزایش اعتبار حتما می بایست یک <code>تیکت</code> در سایت ایجاد و مشخصات واریز
            خود را وارد نمایید.</p>
          <p>پس از بررسی تیکت ارسال شده اعتبار به صورت خودکار به اکانت شما اضافه خواهد شد.</p>

          <pre class="language-markup  text-left"><code class="language-markup">
           شمارت کارت:
              {{cardNumber}}
            شماره حساب:
              {{cardId}}
            نام دارنده حساب:
              {{holder}}
</code></pre>

        </div>
      </div>
    </div>
  </div>
</section>
