.admin-menu-icon {
    margin-top: 45px;
}

.admin-close-box {
    margin-top: 30px;
}

.admin-food-box {
    text-align: center;
}

.admin-food-box .goto {
    color: white;
    right: 27%;
    font-size: 140%;
}